<div class="sign_up-login-form card m-4 p-4">
  <h1>お気に入り投稿一覧</h1>

  <% if @pictures.any? %>
    <%= render partial: "shared/form" %>
  <% else %>
    <h2>まだお気に入り登録されたものがありません。</h2>
  <% end %>

  <%= link_to "投稿一覧を見てみる", pictures_path, class: "btn btn-primary" %>
</div>