<div class="sign_up-login-form card m-4 p-4">
  <h1 class="card-title">サインアップ</h1>

  <% if @user.errors.any? %>
    <div class="alert alert-danger">
      <h2><%= pluralize(@user.errors.count, "個のエラーがあるため、保存できません。") %></h2>
      <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= render partial: "form", locals: { user: @user } %>
</div>
