<div class="sign_up-login-form card m-4 p-4">
  <h1><%= t("activerecord.models.picture")%></h1>

  <%= link_to t("helpers.submit.picture_create"), new_picture_path, class: "btn btn-success" %>
  <br>
  <%= link_to t("helpers.submit.favorite_create"), favorites_path, class: "btn btn-secondary" %>

  <%= render partial: "shared/form" %>
</div>