<div class="sign_up-login-form card m-4 p-4">
  <h1>投稿コメント/画像を確認中</h1>
  <h2>画像置き場</h2>
  <hr class="my-4">
  <p>コメント：<%= "#{@picture.content}" %></p>
  <%= link_to "一覧表示へ戻る", pictures_path, class: "btn btn-primary" %>
  <br>
  <% if current_user.id == @picture.user.id %>
    <%= link_to "投稿を編集する", edit_picture_path(@picture), class: "btn btn-dark" %>
    <br>
    <%= link_to "投稿を削除する", picture_path(@picture), class: "btn btn-danger", method: :delete, data: { confirm: "本当に削除してもよろしいですか？" } %>
  <% end %>
</div>